@font-face {
	font-family: 'google-sans';
	src: url('../fonts/google/GoogleSans-Regular.ttf');
	font-weight: 400;
}

@font-face {
	font-family: 'google-sans';
	src: url('../fonts/google/GoogleSans-Medium.ttf');
	font-weight: 500;
}

@font-face {
	font-family: 'google-sans';
	src: url('../fonts/google/GoogleSans-SemiBold.ttf');
	font-weight: 700;
}

@font-face {
	font-family: 'google-sans';
	src: url('../fonts/google/GoogleSans-Bold.ttf');
	font-weight: 900;
}